@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #112c4a;
  --primary-darkened: #0e2238;
  --primary-lighter: #1c3959;
  --blue-lighter: #3c4b62;
  --grey: #efecec;
  --secondary: #bc1b21;
  --lemon: #FBF2C0;
  --cyan: #588B8B;
  --glaucous: #7D8CC4;
  /*--primary-lighter: #6366f1;*/
  /*--background-white: rgb(248 250 252);*/
  /*--background-dark: rgb(31 41 55);*/
  /*--text-gray-dark: rgb(156 163 175);*/
  /*--white-dark: rgb(243 244 246);*/
}