services:
  db:
    image: mysql:8.0.34
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Testowy1
    ports:
      - "3306:3306"
    volumes:
      - $PWD/mysql:/var/lib/mysql

#  api:
#    container_name: school-system-api
#    build:
#      context: ./api
#    ports:
#      - "8080:8080"
#    depends_on:
#      - db
#    environment:
#      SMTP_USERNAME: ${SMTP_USERNAME}
#      SMTP_PASSWORD: ${SMTP_PASSWORD}
