services:
  db:
    image: mysql:8.0.34
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Testowy1
    ports:
      - "3306:3306"
    volumes:
      - $PWD/mysql:/var/lib/mysql

  api:
    container_name: school-system-api
    build:
      context: ./api
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      IMAGES_PATH: ${IMAGES_PATH}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      SPRING_PROFILES_ACTIVE: prod

  frontend:
    container_name: school-system-client
    build:
      context: ./client
    ports:
      - "3000:3000"
    environment:
     -  REACT_APP_API_URL=http://192.168.0.18:8080
   
